:root {
    --background: #fff;
    --table-offset-background: #eff0ff;
    --link: #09f;
    --link-visited: #c0c;
    --link-active: #090;
    --link-hover: #c60;
    --heading-color: #2F5496;
    --toc-counter: #004c80;
    --main: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --table-offset-background: #545ba2;
        --link: #73e8ff;
        --link-visited: #ff93ff;
        --link-active: #adffad;
        --link-hover: #ffb57b;
        --heading-color: #74d4ff;
        --toc-counter: #8becff;
        --main: #fff;
    }
}
@font-face {
    font-family: 'Numberwang';
    src: local('Corbel Light'),
    local(Avenir),
    local('Calibri Light');
    unicode-range: U+30-39;
}
@font-face {
    font-family: 'Numberwang Medium';
    src: local('Corbel'),
    local(Avenir),
    local('Calibri');
    unicode-range: U+30-39;
}
a {text-decoration: none;}
a:link {color: var(--link); font-weight: 500;}
a:visited {color: var(--link-visited); font-weight: 500;}
a:link:hover, a:visited:hover {text-decoration: underline; color: var(--link-hover);}
a:link:active, a:visited:active {color: var(--link-active); }
a:link>strong, a:visited>strong {font-weight: 500;}
strong {font-weight: 500;}
strong strong {font-weight: 700;}
body {width: 800px;
    font-family: Numberwang, "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    text-align: justify;
    margin: auto;
    font-weight: 100;
    font-stretch: 100%;
    background-color: var(--background);
    color: var(--main);
}
h1 {margin: 12px 0px; font-weight: 700; color: var(--heading-color);}
h2 {margin: 12px 0px; font-weight: 700; color: var(--heading-color);}
h3 {margin: 12px 0px; font-weight: 700; color: var(--heading-color);}
div {margin: 8px 0px;}
li {margin: 8px 0px;}
ul {margin: 4px 0px 4px 30px; padding: 0px;}
ol {margin: 4px 0px 4px 30px; padding: 0px;}
ol li::marker {font-family: "Corbel", "Avenir", "Calibri", monospace;}
/*ol {padding-left: 30px; margin-left; 30px;}
ol li:before {font-family: "Corbel", "Avenir", "Calibri", monospace; font-weight: bold;}*/
ol.toc, .toc ol {counter-reset: item; margin-top: 0px; margin-bottom: 0px;}
.toc li {display: block; margin-top: 4px; margin-bottom: 4px; font-weight: 100;}
.toc a:link, .toc a:visited {font-weight: 100;}
.toc li:before {content: "{" counters(item, ".")"} "; counter-increment: item; color: var(--toc-counter);}
ol.toc > li, ol.toc > li > a:link, ol.toc > li > a:visited {font-weight: 700;}
ol.toc > li:before {content: "(" counters(item, ".")") "; counter-increment: item; color: var(--toc-counter); font-weight: 700; font-family: "Corbel", "Avenir", "Calibri";}
ol.toc > li > ol > li, ol.toc > li > ol > li > a:link, ol.toc > li > ol > li > a:visited {font-weight: 500;}
ol.toc > li > ol > li:before {content: "[" counters(item, ".")"] "; counter-increment: item; color: var(--toc-counter); font-weight: 500; font-family: "Corbel", "Avenir", "Calibri";}
ol.toc > li > ol > li > ol > li, ol.toc > li > ol > li > ol > li > a:link, ol.toc > li > ol > li > ol > li > a:visited {font-weight: 300;}
ol.toc > li > ol > li > ol > li:before {content: "{" counters(item, ".")"} "; counter-increment: item; color: var(--toc-counter); font-weight: 300; font-family: "Corbel", "Avenir", "Calibri";}
ol.toc > li > ol > li > ol > li > ol > li, ol.toc > li > ol > li > ol > li > ol > li > a:link, ol.toc > li > ol > li > ol > li > ol > li > a:visited {font-weight: 100; font-style: italic;}
ol.toc > li > ol > li > ol > li > ol > li:before {content: "⟨" counters(item, ".")"⟩ "; counter-increment: item; color: var(--toc-counter); font-weight: 100; font-family: "Corbel", "Avenir", "Calibri"; font-style: normal;}
p {margin: 8px 0px;}
.image {margin: 12px 0px 8px 0px; text-align: center;}
.sectionbreak {margin: 16px 0px; font-size: 13px; text-align: center;}
table {border-collapse: collapse; margin: auto;}
td, th {padding-left: 12px; padding-right: 12px; padding-top: 4px; padding-bottom: 4px;}
tbody:nth-child(even) tr:nth-child(even) {background-color: var(--table-offset-background);}
tbody:nth-child(even) tr:nth-child(odd) {background-color: var(--background);}
tbody:nth-child(even) tr:nth-child(even) .hidden {color: var(--table-offset-background);}
tbody:nth-child(even) tr:nth-child(odd) .hidden {color: var(--background);}
thead {font-weight: 500; background-color: var(--table-offset-background);}
.endnotes td, .endnotes th {padding: 4px; vertical-align: top;}
.integer {font-family: "Corbel", "Avenir", "Calibri", monospace; text-align: right;}
.decimal {font-family: "Corbel", "Avenir", "Calibri", monospace;}
.centred {text-align: center;}
.right {text-align: right;}
pre {font-size: 115%; font-weight: 100;}
code {font-size: 115%; font-weight: 100;}
.dotted {border-bottom: 1px dotted;}
.light {font-family: "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif; font-weight: 100;}
.light .integer, .light .decimal {font-family: "Corbel", "Avenir", "Calibri", monospace; font-weight: 100;}
.light strong {font-weight: 500;}
.light .integer strong, .light .decimal strong {font-weight: 500;}
.bold {font-weight: 500;}
.bold strong {font-weight: 700;}
