:root {
    --background: #fff;
    --offset-level-1: #eff0ff;
    --offset-level-2: #e0e0ff;
    --offset-level-3: #d0d0ff;
    --offset-level-4: #a0a0ff;
    --link: #09f;
    --link-visited: #c0c;
    --link-active: #090;
    --link-hover: #c60;
    --heading-color: #2F5496;
    --portfolio-heading: #2f5496;
    --toc-counter: #004c80;
    --main: #000;
    --lightest: 100;
    --medium: 300;
    --bold: 500;
    --boldest: 700;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --offset-level-1: #1c1e36;
        --offset-level-2: #383c6c;
        --offset-level-3: #383c6c;
        --offset-level-4: #545aa2;
        --link: #73e8ff;
        --link-visited: #ff93ff;
        --link-active: #adffad;
        --link-hover: #ffb57b;
        --heading-color: #74d4ff;
        --portfolio-heading: #b8f0ff;
        --toc-counter: #a8f0ff;
        --main: #fff;
    }
}
/* reminder to self about CSS variables:
   two entries (ah! ah! ah!): vertical, horizontal
 three entries (ah! ah! ah!): top, horizontal, bottom
  four entries (ah! ah! ah!): clockwise from top */
@font-face {
    font-family: 'Numberwang';
    src: local('Corbel Light'),
    local(Avenir),
    local('Calibri Light');
    unicode-range: U+30-39;
}
@font-face {
    font-family: 'Numberwang Medium';
    src: local('Corbel'),
    local(Avenir),
    local('Calibri');
    unicode-range: U+30-39;
}

/* start main entry */
body {
    width: 800px;
    font-family: "Numberwang", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    text-align: justify;
    margin: auto;
    font-weight: var(--lightest);
    font-stretch: 100%;
    background-color: var(--background);
    color: var(--main);
}
.normal {
    font-family: "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
}
.soundtracks strong,
.soundtracks a:link,
.soundtracks a:visited,
.soundtracks h4 {
    font-weight: var(--bold);
    font-family: "Numberwang Medium", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
}

/* link stuff */
a {
    text-decoration: none;
}
a:link {
    color: var(--link);
    font-weight: var(--bold);
}
a:visited {
    color: var(--link-visited);
    font-weight: var(--bold);
}
a:link:hover,
a:visited:hover {
    text-decoration: underline;
    color: var(--link-hover);
}
a:link:active,
a:visited:active {
    color: var(--link-active);
}
a:link>strong,
a:visited>strong {
    font-weight: var(--boldest);
}

/* define font weights */
strong {
    font-weight: var(--bold);
}
strong strong {
    font-weight: var(--boldest);
}
.light {
    font-family: "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    font-weight: var(--lightest);
}
.light .integer, .light .decimal {
    font-family: "Corbel", "Avenir", "Calibri", monospace;
    font-weight: var(--lightest);
}
.light strong,
.light .integer strong,
.light .decimal strong,
.bold {
    font-weight: var(--bold);
}
.bold strong,
.strong a,
a .strong {
    font-weight: var(--boldest);
}

/* headers and accents */
h1,
h2,
h3,
h4,
h5
{
    margin: 12px 0px;
    font-weight: var(--boldest);
    color: var(--heading-color);
}
.music h1 {
    font-size: 30px;
    margin: 16px 0px 8px;
}
.music h2 {
    font-size: 24px;
    margin: 16px 0px 8px;
}
.music h3 {
    font-size: 18px;
    margin: 16px 0px 8px;
}
.music h4 {
    font-size: 16px;
    margin: 16px 0px 8px;
}
.accent {
    color: var(--heading-color);
}
.discography h1,
.discography h2,
.discography h3,
.discography h4 {
    text-align: center;
}

.portfolio h1 {
    font-size: 36px;
    margin: 24px 0px 8px;
}
.portfolio h2 {
    font-size: 30px;
    margin: 24px 0px 8px;
}
.portfolio h3 {
    font-size: 24px;
    margin: 24px 0px 8px;
}
.portfolio h4 {
    font-size: 18px;
    margin: 24px 0px 8px;
}
.portfolio h2.first,
.portfolio h3.first,
.portfolio h4.first {
    margin: 8px 0px;
}
.portfolio h5 {
    font-weight: var(--bold);
    color: var(--portfolio-heading);
    font-size: 16px;
    margin: 0px 0px 8px;
}


/* paragraph and div stuff */
div,
p {
    margin: 8px 0px;
}
.upperpara {
    margin: 0px 0px 8px;
}
.lowerpara {
    margin: 8px 0px 0px;
}
.discography p,
.soundtracks p,
.portfolio p {
    margin: 12px 0px 6px;
}
.discography p.upperpara {
    margin: 0px 0px 6px;
}
.discography p.lowerpara {
    margin: 12px 0px 0px;
}
.soundtracks div {
    margin: 4px 0px;
}
blockquote {
    margin: 16px 30px;
}
blockquote.wide {
    margin: 16px 0px 16px 30px;
}
.portfolio blockquote {
    margin: 12px 30px 6px;
}

/* lists */
li {
    margin: 8px 0px;
}
ul,
ol {
    margin: 4px 0px 4px 30px;
    padding: 0px;
}
ol li::marker {
    font-family: "Corbel", "Avenir", "Calibri", monospace;
}

.music li,
.soundtracks li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.music ul,
.music ol,
.soundtracks ul,
.soundtracks ol {
    margin: 12px 0px 6px 30px;
}

.discography ol {
    list-style-type: lower-roman;
    margin-top: 0px;
}
.discography ol > li > ol {
    list-style-type: lower-alpha;
    margin-top: 0px;
}
.soundtracks li {
    margin: 6px 0px;
}

.portfolio ul {
    margin: 16px 0px 4px 30px;
}
.portfolio ul > li > ul {
    margin-top: 8px;
    margin-bottom: 8px;
}
.portfolio ol {
    margin: 16px 0px 4px 30px;
}
.portfolio li {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* table of contents. this one is a doozy */
ol.toc, .toc ol {
    counter-reset: item;
    margin-top: 0px;
    margin-bottom: 0px;
}
.toc li {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: var(--lightest);
}
.toc a:link,
.toc a:visited {
    font-weight: var(--lightest);
}
.toc li:before {
    content: "{" counters(item, ".")"} ";
    counter-increment: item;
    color: var(--toc-counter);
}
ol.toc > li,
ol.toc > li > a:link,
ol.toc > li > a:visited {
    font-weight: var(--boldest);
}
ol.toc > li:before {
    content: "(" counters(item, ".")") ";
    counter-increment: item;
    color: var(--toc-counter);
    font-weight: var(--boldest);
    font-family: "Corbel", "Avenir", "Calibri";
}
ol.toc > li > ol > li,
ol.toc > li > ol > li > a:link,
ol.toc > li > ol > li > a:visited {
    font-weight: var(--bold);
}
ol.toc > li > ol > li:before {
    content: "[" counters(item, ".")"] ";
    counter-increment: item;
    color: var(--toc-counter);
    font-weight: var(--bold);
    font-family: "Corbel", "Avenir", "Calibri";
}
ol.toc > li > ol > li > ol > li,
ol.toc > li > ol > li > ol > li > a:link,
ol.toc > li > ol > li > ol > li > a:visited {
    font-weight: var(--medium);
}
ol.toc > li > ol > li > ol > li:before {
    content: "{" counters(item, ".")"} ";
    counter-increment: item;
    color: var(--toc-counter);
    font-weight: var(--medium);
    font-family: "Corbel", "Avenir", "Calibri";
}
ol.toc > li > ol > li > ol > li > ol > li,
ol.toc > li > ol > li > ol > li > ol > li > a:link,
ol.toc > li > ol > li > ol > li > ol > li > a:visited {
    font-weight: var(--lightest);
    font-style: italic;
}
ol.toc > li > ol > li > ol > li > ol > li:before {
    content: "⟨" counters(item, ".")"⟩ ";
    counter-increment: item;
    color: var(--toc-counter);
    font-weight: var(--lightest);
    font-family: "Corbel", "Avenir", "Calibri";
    font-style: normal;
}

/* images */
.image {
    margin: 12px 0px 8px 0px;
    text-align: center;
}

/* section breaks */
.sectionbreak {
    margin: 16px 0px;
    font-size: 13px;
    text-align: center;
}

/* tables */
table {
    border-collapse: collapse;
    margin: auto;
}
td, th {
    padding: 4px 12px;
}
.music td, .music th {
    vertical-align: top;
    font-weight: lighter;
    text-align: justify;
}
.discography td, .discography th {
    padding: 4px 7px;
}
.soundtracks td, .soundtracks th {
    padding: 4px;
}
tbody:nth-child(even) tr:nth-child(even) {
    background-color: var(--offset-level-1);
}
tbody:nth-child(even) tr:nth-child(odd) {
    background-color: var(--background);
}
tbody:nth-child(even) tr:nth-child(even) .hidden {
    color: var(--offset-level-1);
}
tbody:nth-child(even) tr:nth-child(odd) .hidden {
    color: var(--background);
}
thead {
    font-weight: var(--bold);
    background-color: var(--offset-level-1);
}
.endnotes td,
.endnotes th {
    padding: 4px;
    vertical-align: top;
    font-weight: var(--lightest)
}

/* the discography page has complicated table border stuff */
.discography tbody > tr:nth-child(6n),
.discography tbody > tr:nth-child(6n+4) > td,
.discography tbody > tr:nth-child(6n+5) > td {
    background-color: var(--offset-level-1);
}
.discography tbody > tr:nth-child(6n+1) > td,
.discography tbody > tr:nth-child(6n+2) > td,
.discography tbody > tr:nth-child(6n+3) > td {
    background-color: var(--background);
}
.discography td:nth-child(1),
.discography th:nth-child(1) {
    border-left: 1px solid var(--offset-level-3);
}
.discography td:nth-last-child(1),
.discography th:nth-last-child(1) {
    border-right: 1px solid var(--offset-level-3);
}
.discography thead > tr:nth-child(1),
.discography tfoot > tr:nth-child(1) {
    border-top: 1px solid var(--offset-level-3);
}
.discography thead > tr:nth-last-child(1),
.discography tfoot > tr:nth-last-child(1) {
    border-bottom: 1px solid var(--offset-level-3);
}
.discography tbody > tr:nth-child(1) {
    border-top: 1px solid var(--offset-level-3);
}
.discography tbody > tr:nth-child(3n) {
    border-bottom: 1px solid var(--offset-level-3);
}
.discography thead {
    background-color: var(--offset-level-1);
}
.solo > tfoot {
    background-color: var(--offset-level-1);
}
.multi > tfoot {
    background-color: var(--offset-level-1);
}
.master > tfoot {
    background-color: var(--offset-level-1);
}
.compilation > tfoot {
    background-color: var(--background);
}
.discography thead th {
    font-weight: var(--boldest);
}
.discography tfoot th {
    font-weight: var(--bold);
}

/* the istoria body messages also have some pretty complicated stuff */
.istoria table {
    margin-top: 16px;
}
.istoria td,
.istoria th {
    padding: 4px 12px;
    font-family: "Numberwang", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    font-weight: var(--lightest);
    border: 1px solid var(--offset-level-4);
}
.istoria thead {
    background-color: var(--offset-level-2);
    font-size: 20px;}
.istoria tfoot {
    background-color: var(--offset-level-3);
}
.istoria td.topic {
    font-family: "Numberwang Medium", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    font-weight: var(--bold);
    text-align: right;}
.istoria td.location {
    background-color: var(--offset-level-1);
}
.istoria tbody:nth-child(even) tr:nth-child(even) {
    background-color: var(--background);
}
.istoria tbody:nth-child(even) tr:nth-child(odd) {
    background-color: var(--offset-level-1);
}
.istoria tbody:nth-child(even) tr:nth-child(even) .hidden {
    color: var(--background);
}
.istoria tbody:nth-child(even) tr:nth-child(odd) .hidden {
    color: var(--offset-level-1);
}

.integer {
    font-family: "Corbel", "Avenir", "Calibri", monospace;
    text-align: right;
}
.decimal {
    font-family: "Corbel", "Avenir", "Calibri", monospace;
}
.date, td.date, th.date {
    font-family: "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    text-align: right;
    white-space: nowrap;
    font-weight: var(--bold);
}
.number {
    font-family: "Corbel", "Avenir", "Calibri", monospace;
}
.dr {
    font-family: "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
    text-align: center;
}

.centred,
td.centred,
th.centred,
td.dr,
th.dr,
.istoria .footer {
    text-align: center;
}
.right,
td.right,
th.right,
.discography .number,
.istoria .level {
    text-align: right;
}
pre,
code {
    font-size: 115%;
    font-weight: var(--lightest);
}
.dotted {
    border-bottom: 1px dotted;
}

.soundtracks hr {
    margin: 24px 0px;
}

spoiler {
    color: transparent;
}
spoiler:hover,
spoiler:focus {
    color: inherit;
}
spoiler.chronicles::before {
    content: "Chronicles spoiler, hover/select to view:";
}
spoiler.rubicon::before {
    content: "Rubicon spoiler, hover/select to view:";
}
spoiler:before {
    color: var(--link);
    font-weight: var(--bold);
    font-style: italic;
    cursor: pointer;
}
spoiler:hover::before,
spoiler:focus::before {
    color: var(--link-hover);
    text-decoration: underline;
}
spoiler:active::before {
    color: var(--link-active);
    text-decoration: underline;
}

.speaker {
    margin-top: 6px;
    margin-left: 16px;
    font-size: 15px;
    font-style: italic;
    color: var(--heading-color);
}
