:root {
	--background: #fff;
	--offset-level-1: #eff0ff;
	--offset-level-2: #e0e0ff;
	--offset-level-3: #d0d0ff;
	--offset-level-4: #a0a0ff;
	--link: #09f;
	--link-visited: #c0c;
	--link-active: #090;
	--link-hover: #c60;
	--heading-color: #2F5496;
	--portfolio-heading: #2f5496;
	--toc-counter: #004c80;
	--main: #000;
	--lightest: 200;
	--lighter: 300;
	--light: 400;
	--medium: 500;
	--bold: 600;
	--bolder: 700;
	--boldest: 800;
}
@media (prefers-color-scheme: dark) {
	@media screen {
		:root {
			--background: #000;
			--offset-level-1: #1c1e36;
			--offset-level-2: #383c6c;
			--offset-level-3: #545aa2;
			--offset-level-4: #7078d8;
			--link: #73e8ff;
			--link-visited: #ff93ff;
			--link-active: #adffad;
			--link-hover: #ffb57b;
			--heading-color: #74d4ff;
			--portfolio-heading: #b8f0ff;
			--toc-counter: #a8f0ff;
			--main: #fff;
		}
	}
}
@media print {
	.noprint
	{
		display: none !important;
	}
	.discography :not(:is(.unofficial-master, .endnotes)) tbody > :is(tr:nth-child(6n+1), tr:nth-child(6n+4)) {
		break-inside: avoid-page;
		break-before: auto;
	}
	.discography :not(:is(.unofficial-master, .endnotes)) tbody > :is(tr:nth-child(6n), tr:nth-child(6n+2), tr:nth-child(6n+3), tr:nth-child(6n+5)) {
		break-before: avoid-page;
		break-inside: avoid-page;
	}
	.unofficial-master tbody > :is(tr:nth-child(4n+1), tr:nth-child(4n+3)) {
		break-inside: avoid-page;
		break-before: auto;
	}
	.unofficial-master tbody > :is(tr:nth-child(4n+2), tr:nth-child(4n+4)) {
		break-inside: avoid-page;
		break-before: avoid-page;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		break-after: avoid;
	}
	a:visited,
	a:link:hover,
	a:link:active,
	a:visited:active,
	a:visited:hover {
		color: var(--link);
		text-decoration: none;
	}
	.istoria thead {
		font-size: 16px;
		display: table-row-group;
	}
	.istoria thead tr:first-child th,
	.istoria thead tr:last-child th {
		display: table-header-group;
	}
	a:not(.noprintlink):after {
		font-weight: lighter !important;
		content: " (" attr(href) ") ";
		color: var(--link-hover) !important;
		font-size: 81.25%;
	}
	thead th {
		font-weight: normal !important;
	}

	.trigtables td {
		font-size: 14px;
	}
	.trigtables tr:nth-child(15n+1) td,
	.trigtables .fifteen {
		color: var(--heading-color);
		font-weight: bold;
	}
	.trigtables :is(tr:nth-child(15n+6), tr:nth-child(15n+11)) td,
	.trigtables .five {
		color: var(--toc-counter);
		font-style: italic;
	}
}
@media screen {
	.noscreen {
		display: none !important;
	}
	a:visited {
		color: var(--link-visited);
	}

	/* sticky position stuff on the Istoria page (that I still can’t decide whether I like) */
	.istoria table.body {
		border-collapse: separate;
		border-spacing: 0px;
		border-style: none;
	}
	.istoria .body :is(td, th) {
		border-left: 1px solid var(--offset-level-4);
		border-top: 1px solid var(--offset-level-4);
		border-right: none !important;
		border-bottom: none !important;
	}
	.istoria .body :is(th:last-child, td:last-child) {
		border-right: 1px solid var(--offset-level-4) !important;
	}
	.istoria .body :is(thead, tfoot) tr:last-child th {
		border-bottom: 1px solid var(--offset-level-4) !important;
	}
	.istoria .body tbody tr:first-child td {
		border-top: none !important;
	}
	.istoria .body tbody tr:last-child td {
		border-bottom: none !important;
	}
	.istoria .body table tfoot tr:last-child {
		border-bottom: 1px solid var(--offset-level-4);
	}
	.istoria .body th:lastchild, .istoria td:last-child {
		border-right: 1px solid var(--offset-level-4); 
	}
	.istoria .body td, .istoria th {
		border-left: 1px solid var(--offset-level-4); border-top: 1px solid var(--offset-level-4);
	}
	.istoria thead tr:first-child {
		font-size: 20px;
	}
	.istoria .body thead tr:is(:first-child, :last-child) {
		position: sticky;
		inset-block-start: 0;
		border-top: 1px solid var(--offset-level-4);
	}
	.istoria .body thead tr:first-child {
		top: 0px;
	}
	.istoria .body thead tr:last-child {
		top: 33px;
		align-self: end;
	}
	.istoria .body tfoot {
		position: sticky;
		bottom: 0px;
		inset-block-start: 0;
	}
	.istoria .body thead th {border-top: 1px solid var(--offset-level-4);}

	.trigtables td, .trigtables th {
		border-left: 1px solid var(--offset-level-4);
	}
	.trigtables th {
		border-top: 4px ridge var(--offset-level-4);
		border-bottom: 4px ridge var(--offset-level-4);
	}
	.trigtables td {
		border-bottom: 1px solid var(--offset-level-4);
	}
	.trigtables :is(td, th):first-child {
		border-left: 4px ridge var(--offset-level-4);
		border-right: 2px groove var(--offset-level-4);
	}
	.trigtables :is(td:nth-child(2), th:nth-child(2)) {
		border-left: none;
	}
	.trigtables :is(td, th):last-child {
		border-right: 4px ridge var(--offset-level-4);
	}
	.trigtables tr:last-child td {
		border-bottom: 4px ridge var(--offset-level-4);
	}
	.trigtables .fifteen,
	.trigtables .fifteen td {
		color: var(--heading-color);
		font-weight: bold;
		background-color: var(--offset-level-3);
	}
	.trigtables table {
		border-collapse: separate;
		border-spacing: 0;
		margin: 24px auto 36px;
	}
	.trigtables thead {
		position: sticky;
		inset-block-start: 0;
		border-spacing: 0;
	}
	.trigtables .five,
	.trigtables .five td {
		color: var(--toc-counter);
		font-style: italic;
		background-color: var(--offset-level-2);
	}
}
/* reminder to self about CSS variables:
   two entries (ah! ah! ah!): vertical, horizontal
 three entries (ah! ah! ah!): top, horizontal, bottom
  four entries (ah! ah! ah!): clockwise from top */
@font-face {
	font-family: 'Numberwang';
	src: local('Corbel Light'),
	local(Avenir),
	local('Calibri Light');
	unicode-range: U+30-39, U+00B2-00B3, U+00B9, U+2070, U+2074-2079;
	font-weight: var(--lighter);
}
@font-face {
	font-family: 'Numberwang';
	src: local('Corbel Light'),
	local(Avenir),
	local('Calibri Light');
	unicode-range: U+30-39, U+00B2-00B3, U+00B9, U+2070, U+2074-2079;
	font-weight: var(--medium);
}
@font-face {
	font-family: 'Numberwang Medium';
	src: local('Corbel'),
	local(Avenir),
	local('Calibri');
	unicode-range: U+30-39, U+00B2-00B3, U+00B9, U+2070, U+2074-2079;
	font-weight: var(--bold);
}
@font-face {
	font-family: 'Numberwang Bold';
	src: local('Corbel'),
	local(Avenir),
	local('Calibri');
	unicode-range: U+30-39, U+00B2-00B3, U+00B9, U+2070, U+2074-2079;
	font-weight: var(--boldest);
}

/* start main entry */
body {
	font-family: "Fira Sans", "Numberwang", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	text-align: justify;
	margin: auto;
	font-weight: var(--lighter);
	font-stretch: 100%;
	background-color: var(--background);
	color: var(--main);
}
body:not(.trigtables) {
	width: 800px;
}
.normal, button {
	font-family: "Fira Sans", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	font-weight: var(--lighter)
}
.soundtracks strong,
.soundtracks a:link,
.soundtracks a:visited,
.soundtracks :where(h1, h2, h3, h4) {
	font-weight: var(--bold);
	font-family: "Fira Sans", "Numberwang Medium", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
}

/* link stuff */

a:where(:link, :visited):where(:not(:hover, :active)) {
	text-decoration: none;
}
a:link {
	color: var(--link);
}
a:visited {
	color: var(--link-visited);
}
a:hover {
	color: var(--link-hover);
}
a:active {
	color: var(--link-active);
}

/* define font weights */
.light {
	font-weight: var(--lightest);
}
.light :where(strong, .bold, a:link, a:visited) {
	font-weight: var(--light);
}
.light :where(strong, .bold, a:link, a:visited) :where(strong, .bold, a:link, a:visited) {
	font-weight: var(--bolder);
}

strong,
a:link,
a:visited,
.bold,
.light :where(.integer, .decimal, .number, .date) :where(strong, .bold, a:link, a:visited),
.light :where(strong, .bold, a:link, a:visited) :where(.integer, .decimal, .number, .date),
:where(.bold, strong, a:link, a:visited) :where(.integer, .decimal, .number, .date),
:where(.integer, .decimal, .number, .date) :where(.bold, strong, a:link, a:visited) {
	font-weight: var(--light);
}

:is(strong, .bold, a:link, a:visited) :where(strong, .bold, a:link, a:visited),
:is(strong, .bold, a:link, a:visited) :where(strong, .bold, a:link, a:visited) :where(.integer, .decimal, .number, .date),
ol.toc > :where(a:link, a:visited) :where(.integer, .decimal),
strong.bold
{
	font-weight: var(--medium);
}

:is(strong, .bold, a:link, a:visited) :where(strong, .bold, a:link, a:visited) :where(strong, .bold, a:link, a:visited),
tr.bold > td
{
	font-weight: var(--bold);
}

ol.toc > li > ol > li > ol :where(.integer, .decimal) {
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri", monospace;
}
.light .integer:not(a:link, a:visited, a:hover, a:active),
.light .decimal:not(a:link, a:visited, a:hover, a:active) {
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri", monospace;
}

.italic {
	font-style: italic;
}

/* headers and accents */
h1,
h2,
h3,
h4,
h5
{
	margin: 12px 0px;
	font-weight: var(--bolder);
	color: var(--heading-color);
}
.music h1 {
	font-size: 30px;
}
.music h2 {
	font-size: 24px;
}
.music h3 {
	font-size: 18px;
}
.music h4 {
	font-size: 16px;
}
.music :where( h1, h2, h3, h4) {
	margin: 16px 0px 8px;
}
.accent, .accent td, .accent th {
	color: var(--heading-color);
}
.discography :where(h1, h2, h3, h4)
{
	text-align: center;
}

:where(.portfolio, .forgemanual) h1 {
	font-size: 36px;
}
:where(.portfolio, .forgemanual) h2 {
	font-size: 30px;
}
:where(.portfolio, .forgemanual) h3 {
	font-size: 24px;
}
:where(.portfolio, .forgemanual) h4 {
	font-size: 18px;
}
:where(.portfolio, .forgemanual) h5 {
	font-size: 16px;
}

.forgemanual :where(h1, h2, h3, h4, h5) {
	margin: 16px 0px 4px;
}
.forgemanual :where(h1 + h2, h2 + h3, h3 + h4, h4 + h5) {
	margin: 4px 0px;
}

.portfolio :where(h1, h2, h3, h4) {
	margin: 24px 0px 8px;
}
.portfolio h2.first,
.portfolio h3.first,
.portfolio h4.first {
	margin: 8px 0px;
}
.portfolio h5 {
	font-weight: var(--bold);
	color: var(--portfolio-heading);
	margin: 0px 0px 8px;
}
.portfolio h5.light {font-weight: var(--lighter);}
.portfolio h5.light strong {font-weight: var(--light);}
.portfolio h5.light strong strong {font-weight: var(--medium);}

/* paragraph, div, and list stuff */
div,
p,
li {
	margin: 8px 0px;
}
.upperpara {
	margin: 0px 0px 8px;
}
.lowerpara {
	margin: 8px 0px 0px;
}
:where(.discography, .soundtracks, .portfolio) p {
	margin: 12px 0px 6px;
}
.discography p.upperpara {
	margin: 0px 0px 6px;
}
.discography p.midpara {
	margin: 12px 0px;
}
.discography p.lowerpara {
	margin: 12px 0px 0px;
}
.soundtracks div {
	margin: 4px 0px;
}
blockquote {
	margin: 16px 30px;
}
blockquote.wide {
	margin: 16px 0px 16px 30px;
}
.portfolio blockquote {
	margin: 12px 30px 6px;
}

ul,
ol {
	margin: 4px 0px 4px 30px;
	padding: 0px;
}

:is(.music, .soundtracks) li {
	margin-top: 6px;
	margin-bottom: 6px;
}
:is(.music, .soundtracks) :is(.midpara ul, .midpara ol, ul.midpara, ol.midpara) {
	margin-top: 6px;
}

.discography ol {
	list-style-type: lower-roman;
	margin-top: 0px;
}
.discography ol > li > ol {
	list-style-type: lower-alpha;
	margin-top: 0px;
}
.discography li.midpara {
	margin-top: 12px;
	margin-bottom: 12px;
}
.soundtracks li {
	margin: 6px 0px;
}

.portfolio :is(ul, ol) {
	margin: 16px 0px 4px 30px;
}
.portfolio ul > li > ul {
	margin-top: 8px;
	margin-bottom: 8px;
}
.portfolio li {
	margin-top: 8px;
	margin-bottom: 8px;
}
.portfolio :is(ol.midpara, ul.midpara) {
	margin: 8px 0px 8px 30px;
}

/* table of contents. this one is a doozy */
:is(ol.toc, ol.toclite, ol.tocliter),
:is(.toc, .toclite, .tocliter) ol {
	counter-reset: item;
	margin-top: 0px;
	margin-bottom: 0px;
}
:is(.toc, .toclite, .tocliter) li {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 125%;
}
/*:is(.toc, .toclite) li:before {
	content: "{" counters(item, ".")"} ";
	counter-increment: item;
	color: var(--toc-counter);
}*/
ol.toc :is(li, li a:link, li a:visited),
ol.toc li:before {
	font-weight: var(--boldest);
}
:is(ol.toc ol, ol.toclite) :is(li, li a:link, li a:visited),
:is(ol.toc ol, ol.toclite) li:before {
	font-weight: var(--bold);
}
:is(ol.toclite ol, ol.toc ol ol, ol.tocliter) :is(li, li a:link, li a:visited),
:is(ol.toclite ol, ol.toc ol ol, ol.tocliter) li:before {
	font-weight: var(--light);
}
/*:is(ol.toc, ol.toclite) :is(li:before, a:link, a:visited, li),
ol.toc ol ol ol li:before {
	font-weight: var(--lighter);
}*/
:is(ol.toc ol ol ol, ol.toclite ol ol, ol.tocliter ol) :is(li, li a:link, li a:visited),
:is(ol.toc ol ol ol, ol.toclite ol ol, ol.tocliter ol) li:before, 
:is(ol, ol ol, ol ol ol) li.light:before,
:is(ol, ol ol, ol ol ol) :is(li.light, li.light a:link, li.light a:visited) {
	font-weight: var(--lightest);
}
:is(ol.toc, ol.toclite, ol.tocliter) li:before {
	content: "(" counters(item, ".")") ";
	counter-increment: item;
	color: var(--toc-counter);
}
:is(ol.toc, ol.toclite, ol.tocliter) ol li:before {
	content: "[" counters(item, ".")"] ";
	counter-increment: item;
	color: var(--toc-counter);
}
:is(ol.toc, ol.toclite, ol.tocliter) ol ol li:before {
	content: "{" counters(item, ".")"} ";
	counter-increment: item;
	color: var(--toc-counter);
}
:is(ol.toc, ol.toclite, ol.tocliter) ol ol ol li:before {
	content: "\27E8" counters(item, ".")"\27E9\0020";
	counter-increment: item;
	color: var(--toc-counter);
}

/* a bunch of weird stuff for the Forge manual table of contents */
.forgecontents ol.toc {
	counter-set: i1 -1;
}
.forgecontents ol.toc li {
	font-size: 20px;
	line-height: 125%;
}
.forgecontents ol.toc li:before {
	counter-increment: i1;
	content: counter(i1, upper-roman) ". ";
}
.forgecontents ol.toc ol,
.forgecontents ol.toc ol li,
.forgecontents ol.toc ol li a:is(:link, :visited)
{
	font-weight: var(--bold);
}
.forgecontents ol.toc ol {
	counter-reset: i2;
}
.forgecontents ol.toc ol :is(li, li a:link, li a:visited) {
	font-weight: var(--boldest);
	font-size: 18px;
	line-height: 125%;
}
.forgecontents ol.toc ol li:before {
	font-weight: var(--boldest);
	counter-increment: i2;
	content: "(" counter(i1, upper-roman) "." counter(i2, decimal) ") "
}
.forgecontents ol.toc ol ol {
	counter-reset: i3;
	font-weight: var(--boldest);
	line-height: 125%;
}
.forgecontents ol.toc ol ol :is(li a:link, li a:visited, li)
{
	font-weight: var(--boldest);
	font-size: 16px;
}
.forgecontents ol.toc ol ol li:before {
	font-weight: var(--boldest);
	counter-increment: i3;
	content: "[" counter(i1, upper-roman) "." counter(i2, decimal) "." counter(i3, decimal) "] "
}
.forgecontents ol.toc ol ol ol {
	counter-reset: i4;
	font-weight: var(--bold);
}
.forgecontents ol.toc ol ol ol :is(li, li a:link, li a:visited) {
	font-size: 16px;
	font-weight: var(--bold);
	font-style: inherit;
}
.forgecontents ol.toc ol ol ol li:before {
	font-weight: var(--bold);
	counter-increment: i4;
	font-style: inherit;
	content: "{" counter(i1, upper-roman) "." counter(i2, decimal) "." counter(i3, decimal) "." counter(i4, decimal) "} "
}
.forgecontents ol.toc ol ol ol ol {
	counter-reset: i5;
	font-weight: var(--medium);
}
.forgecontents ol.toc ol ol ol ol :is(li, a:link, a:visited) {
	font-weight: var(--medium);
	font-size: 16px;
}
.forgecontents ol.toc ol ol ol ol li:before {
	font-weight: var(--medium);
	counter-increment: i5;
	content: "\0027E8" counter(i1, upper-roman) "." counter(i2, decimal) "." counter(i3, decimal) "." counter(i4, decimal) "." counter(i4, decimal) "\0027E9\000020";
	font-style: inherit;
}

/* counters for body of list. also a doozy */
:where(.nestednumbering ol, ol.nestednumbering):not(ul > li) {
	counter-reset: item;
	margin-top: 0px;
	margin-bottom: 0px;
}
ol.nestednumbering li:not(ul > li) {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}
ol.nestednumbering {
	margin-left: 0px;
}
ol.nestednumbering > li > h1:before {
	content: "" counters(item, ".")" \00B7  ";
	counter-increment: item;
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri";
}
ol.nestednumbering > li > ol > li > h2:before {
	content: "" counters(item, ".")" \00B7  ";
	counter-increment: item;
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri";
}
ol.nestednumbering > li > ol > li > ol > li > h3:before {
	content: "" counters(item, ".")" \00B7  ";
	counter-increment: item;
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri";
}
ol.loweralpha {
	list-style-type: lower-alpha;
}
ol.lowerlatin {
	list-style-type: lower-latin;
}
ol.upperalpha {
	list-style-type: upper-alpha;
}
ol.upperlatin {
	list-style-type: upper-latin;
}

/* right-align Istoria's TOC numbers */
.istoria ol.toc {
	margin-left: 0px;
}
.istoria .toc li:before {
	float: left;
	text-align: right;
	padding-right: 5px;
	width: 55px;
}

/* images */
.image {
	margin: 12px 0px 8px 0px;
	text-align: center;
}
.inlay-image {
	float: left;
	margin: 0px 8px 0px 0px;
}

/* section breaks */
.sectionbreak {
	margin: 16px 0px;
	font-size: 13px;
	text-align: center;
}

/* tables */
table {
	border-collapse: collapse;
	margin: auto;
}
td,
th {
	padding: 4px 12px;
}
.music :where(td, th) {
	vertical-align: top;
	font-weight: var(--lighter);
	text-align: justify;
}
.discography :where(td, th) {
	padding: 4px 7px;
}
.soundtracks :where(td, th) {
	padding: 4px;
}
tbody:nth-child(even) tr:nth-child(even) {
	background-color: var(--offset-level-1);
}
tbody:nth-child(even) tr:nth-child(odd) {
	background-color: var(--background);
}
tbody:nth-child(even) tr:nth-child(even) .hidden {
	color: var(--offset-level-1);
}
tbody:nth-child(even) tr:nth-child(odd) .hidden {
	color: var(--background);
}
/* now this is a story all about how / my life got flipped, turned upside-down */
tbody tr.freshprince:nth-child(even) {
	background-color: var(--background);
}
tbody tr.freshprince:nth-child(odd) {
	background-color: var(--offset-level-1);
}
thead {
	font-weight: var(--bold);
	background-color: var(--offset-level-1);
}
.endnotes :where(td, th) {
	padding: 4px;
	vertical-align: top;
	font-weight: var(--lighter);
}

textarea, button {
	background-color: var(--offset-level-1);
	color: var(--main);
}
button, .custom-file-upload {
	border: 2px outset var(--offset-level-4); border-radius: 12px; font-size: 16px;
}
textarea {
	border: 2px inset var(--offset-level-4); border-radius: 4px;
}
.custom-file-upload input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0px;
}
.custom-file-upload {
	display: inline-block;
	border: 2px outset var(--offset-level-4); border-radius: 12px;
	padding: 0px 6px;
	cursor: pointer;
	margin-bottom: 8px;
}
.custom-file-upload:active {
	border: 2px inset var(--offset-level-4); border-radius: 12px;
}

/* the discography page has complicated table border stuff */
:is(.multi, .master) tbody > tr:is(:nth-child(6n+1), :nth-child(6n+2), :nth-child(6n+3)),
:is(.solo, .compilation) tbody > tr:is(:nth-child(6n+4), :nth-child(6n+5), :nth-child(6n+6)),
.unofficial-master tbody > tr:is(:nth-child(4n+3), :nth-child(4n+4)),
.solo > thead, 
.solo > tfoot,
.compilation > thead,
.compilation > tfoot,
.unofficial > thead,
.discography .endnotes > thead {
	background-color: var(--offset-level-1);
	print-color-adjust: economy;
}
:is(.multi, .master) tbody > tr:is(:nth-child(6n+4), :nth-child(6n+5), :nth-child(6n+6)),
:is(.solo, .compilation) tbody > tr:is(:nth-child(6n+1), :nth-child(6n+2), :nth-child(6n+3)),
.unofficial-master tbody > tr:is(:nth-child(4n+1), :nth-child(4n+2)),
.master > thead,
.master > tfoot,
.multi > thead,
.multi > tfoot,
.unofficial > tfoot,
.discography .endnotes > tfoot
{
	background-color: var(--background);
}
.discography :is(td, th):nth-child(1) {
	border-left: 1px solid var(--offset-level-2);
}
.discography :is(td, th):nth-last-child(1) {
	border-right: 1px solid var(--offset-level-2);
}
.discography :is(thead, tfoot, tbody) > tr:nth-child(1) {
	border-top: 1px solid var(--offset-level-2);
}
.discography :is(thead, tfoot) > tr:nth-last-child(1),
.discography tbody > tr:nth-child(3n) {
	border-bottom: 1px solid var(--offset-level-2);
}
.discography thead th {
	font-weight: var(--boldest);
}
.discography tfoot th {
	font-weight: var(--bold);
	font-size: 13px;
}

.discography tr.singleline {
	border-bottom: 1px solid var(--offset-level-2);
}


/* the istoria body messages also have some pretty complicated stuff */
.istoria table {
	margin-top: 16px;
}
.istoria :is(td, th) {
	padding: 4px 12px;
	font-family: "Fira Sans", "Numberwang", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	font-weight: var(--lighter);
	border: 1px solid var(--offset-level-4);
}
.istoria thead tr:nth-child(even) {
	background-color: var(--offset-level-1);
}
.istoria thead tr:nth-child(odd) {
	background-color: var(--background);
}
.istoria thead tr:first-child {
	background-color: var(--offset-level-3);
}
.istoria thead tr:last-child {
	background-color: var(--offset-level-2);
	font-weight: var(--bolder);
}
.istoria tfoot {
	background-color: var(--offset-level-3);
	font-size: 13px;
}
.istoria :where(td, th).topic {
	font-family: "Fira Sans", "Numberwang Medium", "Candara", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	font-weight: var(--light);
	text-align: right;}
.istoria :where(td, th).location {
	background-color: var(--offset-level-1);
}
.istoria tbody:nth-child(even) tr:nth-child(even) {
	background-color: var(--background);
}
.istoria tbody:nth-child(even) tr:nth-child(odd) {
	background-color: var(--offset-level-1);
}
.istoria tbody:nth-child(even) tr:nth-child(even) .hidden {
	color: var(--background);
}
.istoria tbody:nth-child(even) tr:nth-child(odd) .hidden {
	color: var(--offset-level-1);
}
.istoria .name {
	font-weight: var(--medium);
}

/* it was a graveyard smash */
.monstermash table {
	border: 1px solid var(--offset-level-3);
}
.monstermash th {
	white-space: nowrap;
	padding: 4px 8px;
	background: var(--offset-level-2);
}
.monstermash td {
	padding: 4px 8px;
}
.monstermash :where(thead, tr:not(:last-child)) {
	border-bottom: 1px solid var(--offset-level-3);
}
.monstermash :where(td, th):not(:first-child) {
	border-left: 1px solid var(--offset-level-3);
}
.monstermash tr td:nth-child(1) {
	font-weight: var(--light);
	text-align: right;
}
.monstermash tr td:nth-child(2) {
	font-weight: var(--bold);
}
.monstermash table.endnotes td:nth-child(1) {
	font-weight: var(--light);
	text-align: right;
}
.monstermash table.endnotes td:nth-child(2) {
	font-weight: var(--lighter);
	text-align: justify;
}
/* i have no idea why this works this way but it does. css is a black art */
.monstermash h1 + ul:not(.sectionbreak + ul) {
	padding: 0px 0px 8px;
}

.forgemanual td {padding: 8px;}
.forgemanual tr.note > td {
	padding: 0px 8px 8px;
}
.forgemanual td:nth-child(1) {
	padding-left: 0px;
}
.forgemanual td:last-child {
	padding-right: 0px;
}
.forgemanual td :where(h3, h4, h5, p, blockquote):first-child {
	margin-top: 0px;
}
.forgemanual td :where(p, blockquote):last-child {
	margin-bottom: 0px;
}
.forgemanual blockquote {margin: 4px 30px;}

.integer,
.decimal,
.number {
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri", monospace;
}
.discography .number, .discography .dr, .discography .date, .discography .accent {
	font-family: inherit; font-weight: inherit;
}
 .date:is:not(.music), :where(td, th).date {
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	font-weight: var(--bold);
}
.date {
	text-align: right;
	white-space: nowrap;
}
.dr {
	font-family: "Fira Mono", "Corbel", "Avenir", "Calibri", "Trebuchet MS", sans-serif;
	text-align: center;
}

.centred,
:where(td, th):where(.centred, .dr),
.istoria .footer {
	text-align: center;
}
.centre-justify {
	text-align: justify;
	text-align-last: center;
}
.nowrap {
	white-space: nowrap;
}
.middle {
	vertical-align: middle;
}
.left {
	text-align: left;
}
.right,
.date,
:where(td, th):where(.right, .date),
.discography .number,
.istoria .level,
.integer {
	text-align: right;
}
.justify {
	text-align: justify;
}
.force-justify {
	text-align: justify;
	text-align-last: justify;
}
.balanced-wrap {
	text-wrap: balance;
}
.pretty-wrap {
	text-wrap: pretty;
}
pre,
code {
	font-weight: var(--lightest);
	font-family: "Fira Mono", "Courier New", "Courier", monospace;
}
.defaultnames pre {
	margin: 0px;
	padding: 0px;
}
.defaultnames pre:first-of-type {
	padding: 12px 0px 0px;
}
.defaultnames pre:last-of-type {
	padding: 0px 0px 8px;
}
.dotted {
	border-bottom: 1px dotted;
}

.soundtracks hr {
	margin: 24px 0px;
}

.trigtables :is(td.angle, th.angle, td.sine, td.cosine, td.tangent) {
	text-align: right;
}
.trigtables :is(td.angle, th.sine, th.cosine, th.tangent, th.angle) {
	font-weight: bold;
}
.trigtables :is(th.sine, th.cosine, th.tangent) {
	text-align: center;
}
.trigtables th {
	font-weight: var(--boldest);
	color: var(--heading-color);
}
.trigtables :is(td, th) {
	padding: 5px 10px;
	font-family: "Fira Code", "Monaco", "PP Supply Mono", "Lucida Console", "Courier", "Courier New", monospace;
}
.trigtables .accent td {
	color: var(--heading-color);
}

.circleofthirds table {
	margin: 12px auto;
	border-spacing: 0px;
	border: 2px solid var(--offset-level-3);
	border-radius: 12px;
	border-collapse: inherit !important;
}
.circleofthirds .number {
	font-family: "Fira Code", monospace;
}
.circleofthirds li {
	line-height: 125%;
}
.circleofthirds thead tr:first-child {
	background-color: var(--background);
	border-bottom: 0px;
}
.circleofthirds td {
	border-bottom: 1px solid var(--offset-level-2);
}
.circleofthirds tr:last-child > th {
	border-top: 2px solid var(--offset-level-3);
	border-bottom: 2px solid var(--offset-level-3);
}
.circleofthirds tr:last-child > td {
	border-bottom: none;
}
.circleofthirds tr:first-child th:first-child {
	border-top-left-radius: 10px;
} 
.circleofthirds tr:first-child th:last-child {
	border-top-right-radius: 10px;
}
.circleofthirds tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.circleofthirds tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
.circleofthirds thead tr:first-child th:not(:first-child, :last-child) {
	border-top: 2px solid var(--offset-level-3);
}
.circleofthirds tr {
	border: 1px solid var(--offset-level-2);
}
.circleofthirds .leftborder {
	border-left: 2px solid var(--offset-level-3);
}
.circleofthirds .rightborder {
	border-right: 2px solid var(--offset-level-3);
}

spoiler {
	color: transparent;
}
spoiler:hover,
spoiler:focus {
	color: inherit;
}
spoiler.chronicles::before {
	content: "Chronicles spoiler, hover/select to view:";
}
spoiler.rubicon::before {
	content: "Rubicon spoiler, hover/select to view:";
}
spoiler:before {
	color: var(--link);
	font-weight: var(--bold);
	font-style: italic;
	cursor: pointer;
}
spoiler:hover::before,
spoiler:focus::before {
	color: var(--link-hover);
	text-decoration: underline;
}
spoiler:active::before {
	color: var(--link-active);
	text-decoration: underline;
}

.speaker {
	margin-top: 6px;
	margin-left: 16px;
	font-size: 15px;
	font-style: italic;
	color: var(--heading-color);
}

hr {
	border-block: 1px dashed var(--heading-color);
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	list-style-position: inside;
	margin: 16px 0px;
}

table.noborder {
	border-width: 0px !important;
}
.noborder tr, .noborder td, .noborder th {
	border-width: 0px !important;
}
.noborder :is(thead, tbody, tr, th, td) {
	background: none !important;
}
.notoppad {
	padding-top: 0px;
}
.nobottompad {
	padding-bottom: 0px;
}
.hide {
	display: none;
}

.orange {
	color: var(--link-hover)
}
.green {
	color: var(--link-active)
}
.azure {
	color: var(--link)
}
.magenta {
	color: var(--link-visited)
}