@media (prefers-color-scheme: dark) {
	@media screen {
        :root {
            --background: #fff;
            --background-translucent: #ffffffc6;
            --background-translucenter: #ffffff8d;
            --background-1: #f7f8ff;
            --background-1-translucent: #f7f8ffc6;
            --background-1-translucenter: #f7f8ff8d;
            --background-2: #eff0ff;
            --background-2-translucent: #eff0ffc6;
            --background-2-translucenter: #eff0ff8d;
            --background-3: #e8e8ff;
            --background-3-translucent: #f7f8ffc6;
            --background-3-translucenter: #f7f8ff8d;
            --background-4: #e0e0ff;
            --background-4-translucent: #e0e0ffc6;
            --background-4-translucenter: #e0e0ff8d;
            --background-5: #d8d8ff;
            --background-5-translucent: #d8d8ffc6;
            --background-5-translucenter: #d8d8ff8d;
            --background-6: #d0d0ff;
            --background-6-translucent: #d0d0ffc6;
            --background-6-translucenter: #d0d0ff8d;
            --background-7: #c8c8ff;
            --background-7-translucent: #c8c8ffc6;
            --background-7-translucenter: #c8c8ff8d;
            --background-8: #c0c0ff;
            --background-8-translucent: #c0c0ffc6;
            --background-8-translucenter: #c0c0ff8d;
            --background-9: #b8b8ff;
            --background-9-translucent: #b8b8ffc6;
            --background-9-translucenter: #b8b8ff8d;
            --offset-level-1: #eff0ff;
            --offset-level-1-translucent: #eff0ffc6;
            --offset-level-1-translucenter: #eff0ff8d;
            --offset-level-2: #e0e0ff;
            --offset-level-2-translucent: #e0e0ffc6;
            --offset-level-2-translucenter: #e0e0ff8d;
            --offset-level-3: #d0d0ff;
            --offset-level-3-translucent: #d0d0ffc6;
            --offset-level-3-translucenter: #d0d0ff8d;
            --offset-level-4: #c0c0ff;
            --offset-level-4-translucent: #c0c0ffc6;
            --offset-level-4-translucenter: #c0c0ff8d;
            /*
            --offset-level-3d: #b0b0ff;
            --offset-level-3d-translucent: #b0b0ffc6;
            --offset-level-3d-translucenter: #b0b0ff8d;
            --offset-level-3e: #a8a8ff;
            --offset-level-3e-translucent: #a8a8ffc6;
            --offset-level-3e-translucenter: #a8a8ff8d;
            --offset-level-4: #a0a0ff;
            --offset-level-4-translucent: #a0a0ffc6;
            --offset-level-4-translucenter: #a0a0ff8d; */
            --link: #0099ff;
            --link-translucent: #0099ffc6;
            --link-translucenter: #0099ff8d;
            --link-visited: #cc00cc;
            --link-visited-translucent: #cc00ccc6;
            --link-visited-translucenter: #cc00cc8d;
            --link-active: #009900;
            --link-active-translucent: #009900c6;
            --link-active-translucenter: #0099008d;
            --link-hover: #cc6600;
            --link-hover-translucent: #cc6600c6;
            --link-hover-translucenter: #cc66008d;
            /* these are actually OKHSL 29/100/50, 59/100/50, etc., via Björn
            Ottosson's color picker: https://bottosson.github.io/misc/colorpicker/
            - 29° hue in OKHSV corresponds roughly to 0° hue in traditional HSV */
            --oklab0: #e00003;
            --oklab30: #af6000;
            --oklab60: #937200;
            --oklab90: #6f8100;
            --oklab120: #008f3c;
            --oklab150: #008b78;
            --oklab180: #008696;
            --oklab210: #007fba;
            --oklab240: #4260ff;
            --oklab270: #942aff;
            --oklab300: #c200bf;
            --oklab330: #d60074;
            --oklab0-translucent: #e00003c6;
            --oklab30-translucent: #af6000c6;
            --oklab60-translucent: #937200c6;
            --oklab90-translucent: #6f8100c6;
            --oklab120-translucent: #008f3cc6;
            --oklab150-translucent: #008b78c6;
            --oklab180-translucent: #008696c6;
            --oklab210-translucent: #007fbac6;
            --oklab240-translucent: #4260ffc6;
            --oklab270-translucent: #942affc6;
            --oklab300-translucent: #c200bfc6;
            --oklab330-translucent: #d60074c6;
            --oklab0-translucenter: #e000038d;
            --oklab30-translucenter: #af60008d;
            --oklab60-translucenter: #9372008d;
            --oklab90-translucenter: #6f81008d;
            --oklab120-translucenter: #008f3c8d;
            --oklab150-translucenter: #008b788d;
            --oklab180-translucenter: #0086968d;
            --oklab210-translucenter: #007fba8d;
            --oklab240-translucenter: #4260ff8d;
            --oklab270-translucenter: #942aff8d;
            --oklab300-translucenter: #c200bf8d;
            --oklab330-translucenter: #d600748d;
            --oklab0-bg: #ffc4bd;
            --oklab30-bg: #ffdbbd;
            --oklab60-bg: #ffecbd;
            --oklab90-bg: #f1ffbd;
            --oklab120-bg: #bdffca;
            --oklab150-bg: #bdfff2;
            --oklab180-bg: #bdf6ff;
            --oklab210-bg: #bde4ff;
            --oklab240-bg: #bdcdff;
            --oklab270-bg: #d4bdff;
            --oklab300-bg: #ffbdfb;
            --oklab330-bg: #ffbdd3; 
            --oklab0-bg-translucent: #ffc4bdc6;
            --oklab30-bg-translucent: #ffdbbdc6;
            --oklab60-bg-translucent: #ffecbdc6;
            --oklab90-bg-translucent: #f1ffbdc6;
            --oklab120-bg-translucent: #bdffcac6;
            --oklab150-bg-translucent: #bdfff2c6;
            --oklab180-bg-translucent: #bdf6ffc6;
            --oklab210-bg-translucent: #bde4ffc6;
            --oklab240-bg-translucent: #bdcdffc6;
            --oklab270-bg-translucent: #d4bdffc6;
            --oklab300-bg-translucent: #ffbdfbc6;
            --oklab330-bg-translucent: #ffbdd3c6; 
            --oklab0-bg-translucenter: #ffc4bd8d;
            --oklab30-bg-translucenter: #ffdbbd8d;
            --oklab60-bg-translucenter: #ffecbd8d;
            --oklab90-bg-translucenter: #f1ffbd8d;
            --oklab120-bg-translucenter: #bdffca8d;
            --oklab150-bg-translucenter: #bdfff28d;
            --oklab180-bg-translucenter: #bdf6ff8d;
            --oklab210-bg-translucenter: #bde4ff8d;
            --oklab240-bg-translucenter: #bdcdff8d;
            --oklab270-bg-translucenter: #d4bdff8d;
            --oklab300-bg-translucenter: #ffbdfb8d;
            --oklab330-bg-translucenter: #ffbdd38d; 
            --heading-color: #2f5496;
            --heading-color-translucent: #2f5496c6;
            --heading-color-translucenter: #2f54968d;
            --portfolio-heading: #2f5496;
            --portfolio-heading-translucent: #2f5496c6;
            --portfolio-heading-translucenter: #2f54968d;
            --toc-counter: #004c80;
            --toc-counter-translucent: #004c80c6;
            --toc-counter-translucenter: #004c808d;
            --main: #000;
            --main-semitranslucent: #000000e3;
            --main-translucent: #000000c6;
            --main-translucenter: #0000008d;
        }
    }
}